<ul id="languages-dropdown-content" class="languages-dropdown">
    <li *ngFor="let language of appService.languages; let i = index" >
        <a href="javascript:void(0);" class="black-text" [style.font-weight]="appService.getLangIndex() === i ? 'bold' : ''" (click)="setLang(i)">
            {{language.name}}
        </a>
    </li>
</ul>
<a class="dropdown-trigger black-text" href="javascript:void(0);" id="languages-dropdown" data-target="languages-dropdown-content">
    <i class="material-icons left">translate</i>
    <span class="hide-on-small-only">{{appService.getLang().name}}</span>
</a>